* {
  box-sizing: border-box;
  
}

body {
  background-color:#DDD;  
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
}

.title {
  margin: center;
  text-align: center;
}
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  color: gray;
  z-index: 3;
  top: 0;
  
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: unset;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.hidden {
  display: none;
}
.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 32px; 
  right: 5px;
  pointer-events: none;
  z-index: 2;
  
}
.news-suite-paragraph{
  padding-bottom: 2px;
  border-bottom: 3px solid #bb1919;
  margin-bottom: 8px;
  display: inline-block ;
}



.row:after{
    clear:both;
}
.news-suite .component-container {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #e8e7ed;
}
@media (min-width: 769px){
.component-container {
    padding-left: calc(5rem);
    padding-right: calc(5rem);
  }
}

@media (min-width: 769px){
.news-suite-flex {
    flex-wrap: nowrap;
  }
}
@media (min-width: 769px){
.news-suite-item {
    float: right;
    width: 50%;
  }
}
.news-suite-item .content-container .news-suite-content .news-suite-headline,
.news-suite-item .content-container .news-suite-content .news-suite-bodycopy{
  color: #000F0C;
}
.news-suite__image {
  position: relative;
  top: 0;
  width: 100%;
  object-fit: contain;
}
.content-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.news-suite-flex {
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
}

@media (min-width:768px) {
  .image-container img{
    width: 90%;
  }
}

@media (max-width:768px) {
  .image-container img{
    width: 100%;
  }
}
@media (max-width:500px) {
  .image-container img{
    width: 100%;
  }
}



.news-suite-item {
  min-height: 1px;
  margin-bottom: 1em;
}
.label {
  font-weight: bold;
  display: block;
  color: #333;
  margin-bottom: .25rem;
  color: #2d3748;
}

.input {
  appearance: none;
  display: block;
  width: 100%;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  line-height: 1.25;
  background-color: white;
  padding: .65rem .75rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
 }
.input-group {
  margin-bottom: 2rem;
  position: relative;
}

p {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  
}
#subscribeBox {
  padding-left: 5px;
  height: 30px;
}
.subscribe{
  text-align: center;
}
.subscribe:last-child {
  margin: 7px 0;
}
/* .subs-email{
  width 30
} */
input .button,
.button {
  text-align: center;
background-color: #629DD1;
color: white;
appearance: none;
border-radius: 6px;
border: 0;
cursor: pointer;
display: inline-block;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 0.125em;
font-size: 0.9em;
height: 2.85em;
line-height: 2.85em;
padding: 0 1.75em;
text-align: center;
text-decoration: none;
white-space: nowrap;
text-indent: 0.25em; 
/* width: 40%; */
margin-bottom: 10px;
font-family: 'Roboto Slab', serif;
font-size: bold;
}


/**
 * Form Styles
 */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.label-normal {
  font-weight: normal;
}

.pattern {
  color: #808080;
  font-size: 0.8em;
  font-weight: normal;
}

.supports-color .color,
.supports-date .date,
.supports-time .time,
.supports-month .mont {
  display: none;
}

input,
select {
  display: inline-block;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
  width: 40%;
}

[type="checkbox"],
[type="radio"] {
  margin-bottom: 0.5em;
  width: auto;
}

.row{
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

.subscribebutton {
  background-color: #0088cc;
  border: 1px solid #0088cc;
  border-radius: 1px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.9375em;
  font-weight: normal;
  line-height: 1.2;
  margin-right: 0.3125em;
  margin-bottom: 0.3125em;
  padding: 0.5em 0.6875em;
  width: auto;
}

.subscribebutton:active,
.subscribebutton:focus,
.subscribebutton:hover {
  background-color: #005580;
  border-color: #005580;
  color: #ffffff;
  text-decoration: none;
}

.subscribebutton:active {
  box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 1px 0.15625em rgba(0, 0, 0, 0.05);
}

:hover {
  filter: brightness(110%);
}


.promo {
  color: white;
  opacity: .75;
  margin: 1rem auto;
  max-width: 460px;
  background: rgba(255, 255, 255, .2);
  padding: 20px;
  border-radius: .25rem;
    

} 
@media (max-width: 500px){
  body{
    font-size: 14px;
  }
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100%;
    font-family: "Open-Sans";
    padding-top: 15px;
    color: white;
  }
  
  .logo-container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
  }
  
  .logo-container img{
    width: 180px;
    height: auto;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
    padding: 0;
    
  }
  
  .social-media{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 0;
  }
  
  .social-media li{
    margin: 0 10px;
  }
  
  .social-media a{
    text-decoration: none;
    color: white;
  }
  
  .social-media a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  
  .social-media a:hover i{
    color: aqua;
  }
  
  .footer-bottom{
    background: black;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color:#ddd;
  }
  
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  p{
    font-family: 'Roboto', sans-serif;
  }
  @media (max-width: 768px){
    .news-suite-content{
      width: 90%;
      margin: 0 25px 25px 25px;
    }
  }


@media (max-width: 768px){
 .row form input{
   width: 50%;
 }
}
/* h3 .news-suite__headline{
  margin: 0;
} */
