html{
  scroll-behavior: smooth;
} 
body {
  margin: 0;
  line-height: 1;
  padding: 0;
}
body, input, select, textarea {
  
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

 /* Header */

 .header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  color: gray;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: unset;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.banner {
  display: block;
  padding: 7em 2em 4em 2em;  
  background-color: grey;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #000000;
  text-align: center;
  position: relative;
  margin: 0;
  background-image: url(../images/hero-mobile.jpg);
}
.banner:before{
  content: '';
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(2, 42, 82, 0.25);
  box-sizing: border-box;
}
.banner:before{
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.banner:after{
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.banner h2{
  font-size: 30px;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0;
}
.inner{
  position: relative; 
  z-index: 1 ;
}
.actions{
  color: white;
  list-style: none;
}
.actions a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
ul.actions{
  list-style: none;
}
ul.actions li{
  display: inline-block;
  padding: 0 35px 0 0;
  vertical-align: middle;
  padding-top: 10px;
}

.banner .inner :last-child{
  margin-bottom: 0;
}

.banner .about-button{
  min-width: 0;
}
.about-button  {
    background-color: transparent;
    border: 1px solid #629DD1;
    appearance: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-size: 0.9em;
    height: 2.85em;
    line-height: 2.85em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-indent: 0.25em; 
}
.signup-button  {
  appearance: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border: 1px solid #629DD1;
  border-radius: 6px;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-size: 0.9em;
  height: 2.85em;
  line-height: 2.85em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-indent: 0.25em;
}

.about-button.special:hover {
  background-color: #76a9d7;
}
.about-button.alt:hover,
.signup-button.alt:hover {
  background-color: #76a9d7;
}
.button2.alt{
  box-shadow: inset 0 0 0 1px rgba(144, 144, 144, 0.75);
  background-color: transparent;
}
a:hover{
  text-decoration: none;
}
section.header-news, 
article.header-news{
     padding: 4em 0; 
} 
.paragraph{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
  height: 140px;
}
.flex{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex.flex-3 article{
  position: relative;
  width: 28%;
}
.header-news{
  color: black;
  text-align: center;
  margin-bottom: 10px;
}
article p{
  display: block;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}
.article{
  display: block;
  margin: 0;
  border: 0;
  padding: 5em 0;
  font-size: 100%;
  font: inherit;
}
.news-wrapper .header-news h3{
  margin: 0;
  color:#7096ff;
  
}
.item-news{
  padding: 25px 0;
  max-width: 450px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  
}
.news-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.new-content{
  display: flex;
  flex-wrap: wrap;
  
}
.container .inner-news{
  margin: 0 auto;
}
.button{
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #629DD1;
  border-radius: 6px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-indent: 0.25em;
}
.contact-button{
-webkit-appearance: none;
appearance: none;
transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
background-color: #629DD1;
border-radius: 6px;
border: 0;
color: #ffffff !important;
cursor: pointer;
display: inline-block;
font-weight: 600;
height: 2.85em;
line-height: 2.95em;
padding: 0 50px;
text-align: center;
text-decoration: none;
white-space: nowrap;
text-indent: 0.25em;
}
.contact-wrapper{
  background-color: #edededa1;
}
form #error_message{
  margin-bottom: 20px;
  padding: 0px;
  color:red;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
#contact{
  padding: 2em 0;
  background: #edededa1;
  text-align: center;
  display: flex;
}
.contact-content{
  margin: 0px auto;
  width: 100%;
}
#contact form .contact-tittle{
  margin-bottom: 50px;
  font-family: 'Roboto Slab', serif;
}
#contact .content{
  width: 100%;
  margin: 40px;
  display: flex;
}

.first-row .row,
.first-row .description{
  padding: 0.2em 0;
  color: black;
}
.submit{
  padding: 1em 0;
}
form{ 
  margin-top: 0em;
  width: 100%;
}



form .rows .first-row .row .text,
form .rows .first-row .description .message{
  width: 100%;  
}
form input.text,
form select:hover, 
form textarea {
  position: relative;
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #fff;
  background: rgba(255,255,255,0.75);
  width: 100%;
  border-radius: 0.50em;
  margin: 1em 0em;
  padding: 1.50em 1em;
  box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
  border: solid 1px rgba(0,0,0,0.15);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  outline: none;
}
input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px ;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

@media (max-width: 768px) {
  #contact .content{
    width: 100%;
  }
}


form textarea {
  min-height: 12em;
  min-width: 50%;

}

/* About Us  */

#about-section{
  background: url(aboutus.png) no-repeat left;
  background-size: 45%;
  background-color: #fdfdfd;
  overflow: hidden;
}

.inner-container{
  background-color: #fdfdfd;
  padding: 170px 20px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.inner-container .text{
  font-size: 16px;
  color: #545454;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
}

/* Footeri */

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  height: auto;
  width: 100%;
  font-family: "Open-Sans";
  padding-top: 15px;
  color: white;
}

.logo-container{
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.logo-container img{
  width: 180px;
  height: auto;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
  padding: 0;
  
}

.social-media{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 0;
}

.social-media li{
  margin: 0 10px;
}

.social-media a{
  text-decoration: none;
  color: white;
}

.social-media a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.social-media a:hover i{
  color: aqua;
}

.footer-bottom{
  background: black;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color:#ddd;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
